.sidebar1 {
    background: #F17153;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#808080, #808080, #808080);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#808080, #808080, #808080);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#808080, #808080, #808080);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#808080, #808080, #808080);
    /* Standard syntax */
    padding: 0px;
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
}
.logo {
    max-height: 130px;
    border-radius: 100%;
}
.logo>img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}
.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
    color: white;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding-left: 35px;
}

.main-content{
text-align:center;
}

.bouton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 66px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.bouton a{
    color: white;
    text-decoration: none;
 }

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.titre {
    text-align: center !important;
}

h2 {
    text-align: center;
    padding-bottom: 0 auto;
}

.center {
    text-align: center;
}

.btn-success {
    text-align: center;
}

.text {
    text-align: right;
}

.champ {
    text-align: left;
    padding: 2px;
}

.text-2 {
    text-align: right;
}

.champ-2 {
    text-align: left;
    padding: 2px;
}

table {
    width: 100%;
}

.img-responsive .center-block {
    border-radius: 100%;
}

@media screen and (max-width: 550px) {
      
   }