body {
    background-image: url("addAccount.jpg");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #e60000;
}

.active {
    background-color: #ff0000;
}

@font-face {
    font-family: "LinLibertine_RB";
    src: url(LinLibertine_RB.ttf);
    font-size: large;
}

.h1 {
    text-align: center;
    font-family: "LinLibertine_RB";
    font-size: 20px;
    color: black;
}

.w3-container {
    margin-left: 50px;
    font-family: "LinLibertine_RB";
}

.align {
    font-family: "LinLibertine_RB";
    text-align: right;
    margin-left: 100px;
}

#centerdiv {
    text-align: center;
    margin-right: 500px;
    font-size: 17px;
}

#table-add-file {
    margin-left: 345px;
}

@media screen and (max-height: 450px) {
    .centerdiv {padding-top: 15px;}
    .centerdiv a {font-size: 18px;}
}