@font-face {
font-family: "LinLibertine_RB";
   src: url(LinLibertine_RB.ttf);
   font-size: large;
}

#sidebar {
height : 100%;
width: 20%;
position: fixed; 
background-color :#4d4d4d ;
top: 0;
left: 0;
}

h1 {
    text-align: center;
    font-family: "LinLibertine_RB";
}

.profile {
    border-top : 1px solid #000; 
    width:5px;
    border-left:1px solid gray;
    height:70px;
}

ul.form {
    position:relative;
    background:#4d4d4d;
    color: white;
    width:273px;
    margin:0;
    padding:0;
    list-style: none;
    overflow:hidden;
    margin-top: 200px;
}

li:hover {
    background-color: white;
}

.form li {
    height:50px;
}

.form li a {
    width:225px;
    padding-left:20px;
    height:50px;
    line-height:50px;
    display:block;
    overflow:hidden;
    position:relative;
    text-decoration:none;
    font-size:14px;
    color:#000000;
 
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
 
.form i {
    margin-right:15px;
    color:#fff;

    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
 
.form li a:hover i {
    color:#ea4f35;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* code of button deconnexion*/
.bouton {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #2ad110;
  padding: 10px 77px 10px 77px;
  border : solid 1px #2ad110;  
}

.button {
    text-decoration: none;
    color: white;
}

.image {
    border-radius: 100%;
}
