.table-add-file {
    margin-left: 450px;
    text-align: center;
    font-family: "LinLibertine_RB";
    color: white;
}

h1 {
    text-align: center;
    font-family: "LinLibertine_RB";
    color: white;
}

@font-face {
    font-family: "LinLibertine_RB";
    src: url(LinLibertine_RB.ttf);
}

body {
    background-image: url("page_connexion.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.error {
    color: red;
    border:1px solid red;
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    background-color: 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #e60000;
}

.active {
    background-color: #ff0000;
}

.w3-container {
    text-align: center;
    font-family: "LinLibertine_RB";
}
